.top-margin {
    margin-top: 2rem !important;
}

.top-margin-header {
    margin-top: 6rem !important;
}

.black {
    color: black !important;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 150px;
}


.img-half {
    width: 40%;
    margin-top: 0.7rem;
}

.left-aligned-section {
    text-align: left;
}

.left-aligned-section h1 {
    text-align: center; 
}







/* INNOQ LOGO FOOTER */

.supported-by-innoq {
    margin-bottom: 8px;
    width: 110px;
    margin-left: 1.4rem;
}

.supported-by-innoq:hover {
    opacity: 0.8;
}


@media (max-width: 900px) {
    .supported-by-innoq {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .supported-by-innoq {
        width: 90px;
    }
}





/* STYLES GERNOT ADDED AS STYLE TAG */


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.logo {
    flex: 0 0 auto;
    margin-right: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.text {
    flex: 1 1 auto;
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        text-align: center;
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .text {
        font-size: 1em;
    }
}





/* TABLE STYLES */

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
}

th {
    border-bottom: 2px solid black;
}